html { scroll-behavior: smooth; }

.rating input:checked + label,
.rating input:checked ~ label { color: #faa916; }

.rating-star { cursor: default; }

.card figure img {
  transition: transform 0.4s;
}

.card:hover figure img {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
}